<html>
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>

<head>
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
      
<script type="text/javascript" href="./js/bootstrap.min.js"></script>
<style>
.pages 
{
height:200px;
overflow:scroll;
}
</style>
</head>
<body id ="app" class="container-fluid canvas">
  <div class="row" style="margin-top:10px">
    <div id="title" class="col-md-8">
      <h1><strong>StatuSoap</strong><br>
        <small>Check your Facebook and Twitter for dirty words</small></h1>
    </div>
    <div id="login" class="col-md-4 text-right">
      <div id="fb-root"></div>
      <!-- ko if:if:userPosts().length == 0  -->
      <fb:login-button show-faces="false" width="200" max-rows="1"></fb:login-button>
      <!-- /ko --> 
      <br>
      <!-- ko if:if:userPosts().length > 0 ->
      <button class="btn" onclick="logout()">log out from Facebook</button>
      <!-- /ko -->
      <a href="/twitter/auth"><img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" /></a>
    </div>
  </div>


<br>
<div data-bind="if:fbLoggedin">
  <h2 data-bind = "text:userInfo().name"> </h2>
  <h3 data-bind = "text:userInfo().gender  + ' from ' + userInfo().origin"> </h3>
  <blockquote data-bind = "text:userInfo().quotes"> </blockquote>
</div>

<div id="searchbar" class="row">
  <div class="col-md-11" style="padding-right:0"><input type="text" class="form-control" placeholder="Enter a list of words to search for, separated by commas" data-bind="value:searchQuery"></div>
  <div class="col-md-1"  style="padding-left:5"><button type="submit" class="btn btn-info">Search</button></div>
</div>
<hr>

<div data-bind="if:userPosts().length == 0">
  <h2>Unable to connect to Facebook. Please log in.</h2>
</div>
<!-- ko if:userPosts().length > 0-->
<h2>FaceBook Posts </h2>
<div class="pages">
<div data-bind = "foreach:viewedPosts">
  <div class="well">
<h3 data-bind = "highlight:text"></h3>
    <div data-bind = "text:from.name"></div>
      <div data-bind="text : viewedTime"></div>
    
  </div>
</div>
</div>
<!-- /ko -->
<hr>
<div data-bind="if:!twitterLoggedin()"><h2>Cannot find any tweets. Are you logged in?</h2>
</div>
<div data-bind="if:twitterLoggedin">
<h2>Twitter Tweets </h2>
<div class='pages'>
<div class="pages" data-bind="foreach: viewedTweets">
  <div class="well">
    <h3 data-bind="highlight : words"></h3>
    <div data-bind="text : name"></div>
    <div data-bind="text : date"><div>
  </div>
  </div>
</div>
</div>
<script>
  function replaceAll(find, replace, str) {
    return str.replace(new RegExp(find, 'g'), replace);
  }
  var tweets = JSON.parse(replaceAll("&quot;", '"', "{{tweets}}")).map(function(e){
    return {name : e.user.name, date : e.user.created_at, words : e.text}
  })

  $.get("/twitter/tweets", function(response){
    try{
      var tweets = JSON.parse(response).map(function(e){
        return {name : e.user.name, date : e.user.created_at, words : e.text}
      })  
      viewModel.tweets(tweets);
      if(tweets.length == 0){
        viewModel.twitterLoggedin(false)
      }else{
        viewModel.twitterLoggedin(true)
      }
      console.log(tweets, "CURRENT TWEETS");
    }catch(e){
      viewModel.twitterLoggedin(false);
    }
  })

  var viewModel = {
    userInfo : ko.observable({}),
    userPosts : ko.observableArray([]),
    searchQuery : ko.observable("party,alcohol,drink,fuck,shit,ass,bitch,mofo"),
    tweets :  ko.observableArray([]),
    fbLoggedin : ko.observable(false),
    twitterLoggedin : ko.observable(false)
    }



    viewModel.viewedPosts = ko.computed(function(){
      var searchTerm = this();
      var newArr = [];
      viewModel.userPosts().forEach(function(element){
        if(searchTerm == null || searchTerm == ""){
        }else if(element.text != null){
          var words = searchTerm.split(",");
          var ok = false;
          for(var i = 0; i < words.length; i++){
            if(element.text.toLowerCase().indexOf(words[i].toLowerCase()) > 0){
              ok = true;
            }
          }
          if(newArr.indexOf(element) < 0 && ok == true){
            newArr.push(element);
          }
        }
      });
      console.log(newArr);
      return newArr;

    }, viewModel.searchQuery)

    viewModel.viewedTweets = ko.computed(function(){
      var searchTerm = this();
      var newArr = [];
      viewModel.tweets().forEach(function(element){
        if(searchTerm == null || searchTerm == ""){
        
        }else if(element.words != null){
          var words = searchTerm.split(",");
          var ok = false;
          for(var i = 0; i < words.length; i++){
            console.log(element.words.toLowerCase(), words[i].toLowerCase(), element.words.toLowerCase().indexOf(words[i].toLowerCase()));
            if(element.words.toLowerCase().indexOf(words[i].toLowerCase()) >= 0){
              ok = true;
            }
          }
          if(ok == true){
            newArr.push(element);
          }
        }
      });
      console.log(newArr, "NEW TWEETS");
      return newArr;

    }, viewModel.searchQuery)


  ko.applyBindings(viewModel, document.getElementById("app"));
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '854011474615306',
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });

  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
  // for any authentication related change, such as login, logout or session refresh. This means that
  // whenever someone who was previously logged out tries to log in again, the correct case below 
  // will be handled. 
  FB.Event.subscribe('auth.authResponseChange', function(response) {
    // Here we specify what we do with the response anytime this event occurs. 
    if (response.status === 'connected') {
      testAPI();
    } else if (response.status === 'not_authorized') {
      FB.login(function(response) {
        testAPI();
        viewModel.fbLoggedin(true)
      }, {scope: 'user_status, read_stream'});
    } else {
      FB.login(function(response) {
        testAPI();
        viewModel.fbLoggedin(true)
      }, {scope: 'user_status, read_stream'});
    }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  // Here we run a very simple test of the Graph API after login is successful. 
  // This testAPI() function is only called in those cases. 
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      if(response.hometown != null && response.hometown.name != null)
      response.origin = response.hometown.name;
      else
        response.origin = "Earth";
      console.log('Good to see you, ' + response.name + '.');
      console.log(response);
      viewModel.userInfo(response);
      getPosts();
    });
  }

  function getPosts() {
    /*
    FB.api('/me/feed', function(response) {
        console.log(response);
        displayPost(response.data);
      }, {perms:'read_stream'})
*/

    FB.api('/me/posts', function(response) {
      console.log(response);
      FB.api("/me/statuses", function(response2){
        console.log(response2, "STATUS");
        var data = response.data.concat(response2.data);
        console.log(data);
        displayPost(data);
      }, {perms : 'read_stream'});
    }, {perms: 'read_stream'})
  }

  function displayPost(response) {
   // response = response.filter(function(element){return (element.type == "status" || element.type == "photo")})

    for (var i = 0; i < response.length; i++) {
      if (response[i].story != null) {
        response[i].text = response[i].story;
      }
      else if (response[i].message != null) {
        response[i].text = response[i].message;
      }else if(response[i].description != null){
        response[i].text = response[i].description;
      }

      response[i].viewedTime = "";
      if(response[i].created_time!= null){
        response[i].viewedTime = response[i].created_time;
      }
      if(response[i].updated_time != null){
        response[i].viewedTime = response[i].updated_time;
      }

      //response[i].dateStr = new Date(response[i].created_time).toUTCString();

    }
    viewModel.userPosts(response);

  }

  ko.bindingHandlers.highlight = {
    init : function(element, value){
      var searchquery = viewModel.searchQuery().split(",");
      var msg = value();
      for(var i = 0; i < searchquery.length; i++){
        var index = msg.toLowerCase().indexOf(searchquery[i].toLowerCase());
        if(index >= 0){
          msg = msg.slice(0,index) + "<b><font color='red'>"+searchquery[i] + "</font></b>" + msg.slice(index + searchquery[i].length);
        }
      }
      element.innerHTML = msg;


    }
  }

  function highlight(container,what,spanClass) {
    var content = container.innerHTML,
        pattern = new RegExp('(>[^<.]*)(' + what + ')([^<.]*)','g'),
        replaceWith = '$1<span ' + ( spanClass ? 'class="' + spanClass + '"' : '' ) + '">$2</span>$3',
        highlighted = content.replace(pattern,replaceWith);
    return (container.innerHTML = highlighted) !== content;
  }

function logout(){
  FB.logout(function(response){
    viewModel.fbLoggedin(false)
  });
}

function getUserInfo() {
  FB.api(
          "/me",
          function (response) {
            if (response && !response.error) {
              /* handle the results */
            }
        });
}


</script>

<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked. -->




</body>
</html>